.autocomplete textarea {
    margin-top: 50px;
    height: 100px;
    box-sizing: content-box;
    width: 100%;
    border: 1px solid #d4d4d4;
    background: none;
    outline: none;
    font:inherit;
    padding: 0;
    resize: none;
}

.autocomplete {
    position: relative;
    display: inline-block;
    padding: 16px;
    width: 98%;
}

.autocomplete-items {
    position: absolute;
    padding: 16px;
    border: 1px solid #d4d4d4;
    border-bottom: 1px dashed #d4d4d4;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.noSuggestions {
  color: red;
  padding: 0.5rem;
}
.suggestions {
  border: 1px solid #d4d4d4;
  border-top-width: 0;
  list-style: none;
  margin-top: -4px;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}
.suggestions li {
  padding: 0.5rem;
}
.suggestionActive {
  color: #000000;
  cursor: pointer;
}
.suggestions li:hover {
  background-color: #70d2ff;
  color: #000000;
  cursor: pointer;
  font-weight: 700;
}
.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.button{
    align-content: space-evenly;
    width: 50%;
}

.content{

}